﻿<!--Included in /config/Dashboard.config-->
<div style="max-width: 1200px" ng-controller="Cloudflare.Dashboard.Controller" class="umbracoflare umb-scrollable">
    <div class="cloudflare-config">
        <h2>Status</h2>
        <hr />
        <h3>
            Cloudflare Account: <span ng-show="config.CredentialsAreValid" class="-green">Associated <i class="fa fa-icon-remove-sign fa-lg active"></i></span><span ng-show="!config.CredentialsAreValid" class="-red">Not Associated <i class="fa fa-icon-ok-circle fa-lg inactive"></i></span>
        </h3>
        <p ng-hide="config.CredentialsAreValid">Your CloudFlare Account information needs to be associated
with UmbracoFlare.</p>
        <p ng-show="config.CredentialsAreValid">Good Job. Your CloudFlare Account information is associated
properly</p>
        <button class="btn btn-success"  switch-tab-on-click tab-index="2">Input CloudFlare Account Info</button>
    </div>
    
    <div ng-class="{'-grey-out' : !config.CredentialsAreValid}">
        <div class="purge-everything">
            <h2>Site Purge</h2>
            <hr />
            <p>Purge everything on your site. This will take a while depending
on your site and servers. </p>
            <button ng-disabled='!config.CredentialsAreValid' class="btn btn-success" ng-click="purgeEverything()">Purge Site</button>
        </div>
        <div class="manual-purge-container">
            <h2>Manual Purge Options</h2>
            <hr />
            <div class="manual-purge-options">
                <div class="manual-purge-option">
                    <form ng-disabled='!config.CredentialsAreValid' name="listUrls">
                        <h3>Purge By Url</h3>
                        <p>URLs must be relative and begin with a / and should not include
the domain. You will have an opportunity to choose domains.</p>
                        <span>Example: /products/umbracoflare/dashboard.</span>
                        <input-adder class="input-adder" ng-model="urls" state="state" on-submit="purgeUrls(collection)" submit-text="purgeUrlsButtonText"></input-adder>
                    </form>
                </div>
            </div>
        </div>
        
    </div>
</div>

<div
        bn-modals
        ng-show="subview"
        class="m-modals umbracoflare"
        ng-switch="subview">

        <!-- BEGIN: are you sure. -->
        <div
            ng-switch-when="confirmModal"
            ng-controller="ConfirmModalController"
            class="umbracoflare-modal">

            <span class="close" ng-click="close()"><i class="fa fa-times fa-lg"></i></span>
            <h2>Purge Entire Site?</h2>

            <span>Are you sure you want to purge the entire site? The server might take a performance hit while Cloudflare rebuilds your cache.</span> <br/>
            <br />
            <div class="pull-right">
                <a href class="btn btn-link"  ng-click="close()">
                    Cancel
                </a>
            </div>
            <div >
                <a href class="btn btn-success" style="color:white;" ng-click="yes()">
                    Yes, purge it.
                </a>
            </div>

        </div>
        <!-- END: Are you sure Modal. -->

    </div>
    <!-- END: Modals Layout. -->

